body{
    background-color: aqua;
}
.box{
    height: 300px;
    width: 300px;
    border: 5px solid blueviolet;
    margin: 10px;
    padding: 20px;
    background-color: brown;
    color: white;
    font-size: 25px;
}
a:link{
    color:black;
}
a:hover{
    color:green;
}
a:active{
    color: rgb(227, 30, 30);
}
ul li:first-child:hover{
color:red;
}
ul li::first-letter{
    color:blue;
}
@media screen and (min-width:600px){
    .box{
        background-color:black;
    }

}